.MuiTableRow-root {
    background: #181824 !important;
}
.MUIDataTableSelectCell-headerCell-143 {
    background-color: rgb(21, 214, 83);
}
.MuiTableCell-head {
    background: #111118 !important;
}
.MuiTableCell-paddingCheckbox {
    background: #181824 !important;
}
.MuiTableCell-root {
color:white !important;
}